.flex-agenda-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-agenda-child {
	flex: 0 1 32%;
	margin-right: 1%;
	margin-bottom: 1%;
	border: 1px solid black;
}

.flex-agenda-child:nth-child(3){
	margin-right: 0;
}


.flex-event-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-event-child {
	flex: 0 1 32%;
	margin-right: 1%;
}

.flex-event-child:nth-child(3){
	margin-right: 0;
}